In [46]:
import pandas as pd
import numpy as np

In [47]:
balls = pd.read_csv("deliveries.csv")
matches = pd.read_csv("matches.csv")

In [48]:
balls

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243813,1370353,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
243814,1370353,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243815,1370353,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
243816,1370353,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [49]:
inningScore = balls.groupby(["match_id","inning"])["total_runs"].sum().reset_index()
inningScore = inningScore[inningScore["inning"]==1]

In [50]:
inningScore

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2065   1359544       1         197
2067   1370350       1         172
2069   1370351       1         182
2071   1370352       1         233
2073   1370353       1         214

[1024 rows x 3 columns]

In [51]:
inningScore["target"] = inningScore["total_runs"]+1

In [52]:
inningScore.rename(columns = {"match_id":"id"}, inplace = True)

In [53]:
matches = matches.merge(inningScore[["id","target"]],on="id")

In [54]:
matches

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,target
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,223
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,241
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,130
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,166
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1359544,2023,Bengaluru,2023-05-21,League,Shubman Gill,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,...,Gujarat Titans,wickets,6.0,198.0,20.0,N,NaN,Nitin Menon,VK Sharma,198
1020,1370350,2023,Chennai,2023-05-23,Qualifier 1,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Gujarat Titans,Gujarat Titans,...,Chennai Super Kings,runs,15.0,173.0,20.0,N,NaN,AK Chaudhary,CB Gaffaney,173
1021,1370351,2023,Chennai,2023-05-24,Eliminator,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",Mumbai Indians,Lucknow Super Giants,Mumbai Indians,...,Mumbai Indians,runs,81.0,183.0,20.0,N,NaN,BNJ Oxenford,VK Sharma,183
1022,1370352,2023,Ahmedabad,2023-05-26,Qualifier 2,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Mumbai Indians,Mumbai Indians,...,Gujarat Titans,runs,62.0,234.0,20.0,N,NaN,Nitin Menon,RJ Tucker,234
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,...,Chennai Super Kings,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,215

In [55]:
matches['team1'] = matches['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
matches['team2'] = matches['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')
matches['winner'] = matches['winner'].str.replace('Delhi Daredevils', 'Delhi Capitals')

matches['team1'] = matches['team1'].str.replace('Kings XI Punjab', 'Punjab Kings')
matches['team2'] = matches['team2'].str.replace('Kings XI Punjab', 'Punjab Kings')
matches['winner'] = matches['winner'].str.replace('Kings XI Punjab', 'Punjab Kings')

matches['team1'] = matches['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches['team2'] = matches['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches['winner'] = matches['winner'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

matches['team1'] = matches['team1'].str.replace('Rising Pune Supergiant', 'Pune Warriors')
matches['team2'] = matches['team2'].str.replace('Rising Pune Supergiant', 'Pune Warriors')
matches['winner'] = matches['winner'].str.replace('Rising Pune Supergiant', 'Pune Warriors')

matches['team1'] = matches['team1'].str.replace('Rising Pune Supergiants', 'Pune Warriors')
matches['team2'] = matches['team2'].str.replace('Rising Pune Supergiants', 'Pune Warriors')
matches['winner'] = matches['winner'].str.replace('Rising Pune Supergiants', 'Pune Warriors')


matches['team1'] = matches['team1'].str.replace('Pune Warriorss', 'Pune Warriors')
matches['team2'] = matches['team2'].str.replace('Pune Warriorss', 'Pune Warriors')
matches['winner'] = matches['winner'].str.replace('Pune Warriorss', 'Pune Warriors')

matches['team1'] = matches['team1'].str.replace('Gujarat Lions', 'Gujarat Titans')
matches['team2'] = matches['team2'].str.replace('Gujarat Lions', 'Gujarat Titans')
matches['winner'] = matches['winner'].str.replace('Gujarat Lions', 'Gujarat Titans')

In [56]:

teams2023 = [
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad', 
    'Delhi Capitals', 
    'Chennai Super Kings',
    'Gujarat Titans', 
    'Lucknow Super Giants', 
    'Kolkata Knight Riders',
    'Punjab Kings', 
    'Mumbai Indians'
]

In [57]:
matches = matches[matches['team1'].isin(teams2023)]
matches = matches[matches['team2'].isin(teams2023)]
matches = matches[matches['winner'].isin(teams2023)]

In [58]:
matches["team1"].unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings', 'Gujarat Titans',
       'Lucknow Super Giants'], dtype=object)

In [59]:
matches.isna().sum()

id                   0
season               0
city                51
date                 0
match_type           0
player_of_match      0
venue                0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin       14
target_runs          0
target_overs         0
super_over           0
method             914
umpire1              0
umpire2              0
target               0
dtype: int64

In [60]:
matches = matches[['id','city','team1','team2','winner','target']].dropna()
matches

,id,city,team1,team2,winner,target
0,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223
1,335983,Chandigarh,Punjab Kings,Chennai Super Kings,Chennai Super Kings,241
2,335984,Delhi,Delhi Capitals,Rajasthan Royals,Delhi Capitals,130
3,335985,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,166
4,335986,Kolkata,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,111
...,...,...,...,...,...,...
1019,1359544,Bengaluru,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,198
1020,1370350,Chennai,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,173
1021,1370351,Chennai,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,183
1022,1370352,Ahmedabad,Gujarat Titans,Mumbai Indians,Gujarat Titans,234
1023,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215

In [61]:
balls

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243813,1370353,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
243814,1370353,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243815,1370353,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
243816,1370353,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [62]:
balls['batting_team'] = balls['batting_team'].str.replace('Delhi Daredevils', 'Delhi Capitals')
balls['batting_team'] = balls['batting_team'].str.replace('Kings XI Punjab', 'Punjab Kings')
balls['batting_team'] = balls['batting_team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
balls['batting_team'] = balls['batting_team'].str.replace('Rising Pune Supergiant', 'Pune Warriors')
balls['batting_team'] = balls['batting_team'].str.replace('Rising Pune Supergiants', 'Pune Warriors')
balls['batting_team'] = balls['batting_team'].str.replace('Pune Warriorss', 'Pune Warriors')
balls['batting_team'] = balls['batting_team'].str.replace('Gujarat Lions', 'Gujarat Titans')

In [63]:
balls = balls[balls['batting_team'].isin(teams2023)]
balls

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243813,1370353,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
243814,1370353,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243815,1370353,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
243816,1370353,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [64]:
balls.rename(columns={"match_id":"id"},inplace = True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\3181029174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  balls.rename(columns={"match_id":"id"},inplace = True)

In [65]:
final = matches.merge(balls, on="id")

In [66]:
final

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [67]:
final = final[final["inning"]==2]
final

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [68]:
final["current_score"] = final.groupby("id")["total_runs"].cumsum()
final

C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\3527987087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["current_score"] = final.groupby("id")["total_runs"].cumsum()

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN,159
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,S Dube,1,0,1,NaN,0,NaN,NaN,NaN,160
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN,161
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,S Dube,6,0,6,NaN,0,NaN,NaN,NaN,167
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,S Dube,4,0,4,NaN,0,NaN,NaN,NaN,171

In [69]:
final["runs_left"] = np.where(final["target"]-final["current_score"]>=0, final["target"]-final["current_score"],0)
final

C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\2578715349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["runs_left"] = np.where(final["target"]-final["current_score"]>=0, final["target"]-final["current_score"],0)

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222
125,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,1,wides,0,NaN,NaN,NaN,2,221
126,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221
127,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220
128,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,1,0,1,NaN,0,NaN,NaN,NaN,159,56
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,1,0,1,NaN,0,NaN,NaN,NaN,160,55
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,1,0,1,NaN,0,NaN,NaN,NaN,161,54
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,6,0,6,NaN,0,NaN,NaN,NaN,167,48
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,4,0,4,NaN,0,NaN,NaN,NaN,171,44

In [70]:
final["balls_left"] = np.where(120-final["over"]*6-final["ball"]>=0, 120-final["over"]*6-final["ball"],0)
final

C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\1209018839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["balls_left"] = np.where(120-final["over"]*6-final["ball"]>=0, 120-final["over"]*6-final["ball"],0)

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,1,222,119
125,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,1,wides,0,NaN,NaN,NaN,2,221,118
126,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,0,NaN,NaN,NaN,2,221,117
127,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,3,220,116
128,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,1,NaN,0,NaN,NaN,NaN,159,56,34
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,1,NaN,0,NaN,NaN,NaN,160,55,33
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,1,NaN,0,NaN,NaN,NaN,161,54,32
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,6,NaN,0,NaN,NaN,NaN,167,48,31
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,4,NaN,0,NaN,NaN,NaN,171,44,30

In [71]:
final["wickets_left"] = 10 - final.groupby("id")["is_wicket"].cumsum()
final[final["is_wicket"]==1]

C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\3113050189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["wickets_left"] = 10 - final.groupby("id")["is_wicket"].cumsum()

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left
131,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,...,0,NaN,1,R Dravid,bowled,NaN,4,219,113,9
138,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,...,0,NaN,1,V Kohli,bowled,NaN,9,214,106,8
154,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,...,0,NaN,1,JH Kallis,caught,M Kartik,24,199,91,7
157,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,...,0,NaN,1,W Jaffer,caught,RT Ponting,24,199,88,6
174,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,7,...,0,NaN,1,MV Boucher,caught,M Kartik,38,185,73,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210066,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,6,...,0,NaN,1,RD Gaikwad,caught,Rashid Khan,74,141,81,9
210070,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,6,...,0,NaN,1,DP Conway,caught,MM Sharma,78,137,77,8
210094,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,10,...,0,NaN,1,AM Rahane,caught,V Shankar,117,98,55,7
210105,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,12,...,0,NaN,1,AT Rayudu,caught and bowled,NaN,149,66,44,6
210106,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,12,...,0,NaN,1,MS Dhoni,caught,DA Miller,149,66,43,5

In [72]:
final['current_run_rate'] = (final['current_score']*6)/(120-final['balls_left'])
final['required_run_rate'] = np.where(final['balls_left']>0, final['runs_left']*6/final['balls_left'], 0)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\3243064837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['current_run_rate'] = (final['current_score']*6)/(120-final['balls_left'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\3243064837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['required_run_rate'] = np.where(final['balls_left']>0, final['runs_left']*6/final['balls_left'], 0)

In [73]:
final

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,current_run_rate,required_run_rate
124,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,NaN,1,222,119,10,6.000000,11.193277
125,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,NaN,2,221,118,10,6.000000,11.237288
126,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,NaN,2,221,117,10,4.000000,11.333333
127,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,NaN,3,220,116,10,4.500000,11.379310
128,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,NaN,4,219,115,10,4.800000,11.426087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,NaN,NaN,NaN,159,56,34,5,11.093023,9.882353
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,NaN,NaN,NaN,160,55,33,5,11.034483,10.000000
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,NaN,NaN,NaN,161,54,32,5,10.977273,10.125000
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,NaN,NaN,NaN,167,48,31,5,11.258427,9.290323
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,0,NaN,NaN,NaN,171,44,30,5,11.400000,8.800000

In [74]:
def result(row):
    if row["batting_team"]==row["winner"]:
        return 1
    else:
        return 0

In [75]:
final["result"] = final.apply(result, axis = 1)
final

C:\Users\DELL\AppData\Local\Temp\ipykernel_12212\405465849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["result"] = final.apply(result, axis = 1)

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,current_run_rate,required_run_rate,result
124,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,1,222,119,10,6.000000,11.193277,0
125,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,2,221,118,10,6.000000,11.237288,0
126,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,2,221,117,10,4.000000,11.333333,0
127,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,3,220,116,10,4.500000,11.379310,0
128,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,4,219,115,10,4.800000,11.426087,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,159,56,34,5,11.093023,9.882353,1
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,160,55,33,5,11.034483,10.000000,1
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,161,54,32,5,10.977273,10.125000,1
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,167,48,31,5,11.258427,9.290323,1
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,171,44,30,5,11.400000,8.800000,1

In [76]:
index1 = final[final["team2"]==final["batting_team"]]["team1"].index
index2 = final[final["team1"]==final["batting_team"]]["team2"].index

final.loc[index1, "bowling_team"] = final.loc[index1,"team1"]
final.loc[index2,"bowling_team"] = final.loc[index2,"team2"]

final

,id,city,team1,team2,winner,target,inning,batting_team,bowling_team,over,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,current_run_rate,required_run_rate,result
124,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,1,222,119,10,6.000000,11.193277,0
125,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,2,221,118,10,6.000000,11.237288,0
126,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,2,221,117,10,4.000000,11.333333,0
127,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,3,220,116,10,4.500000,11.379310,0
128,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,NaN,NaN,4,219,115,10,4.800000,11.426087,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210115,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,159,56,34,5,11.093023,9.882353,1
210116,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,160,55,33,5,11.034483,10.000000,1
210117,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,161,54,32,5,10.977273,10.125000,1
210118,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,167,48,31,5,11.258427,9.290323,1
210119,1370353,Ahmedabad,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,...,NaN,NaN,NaN,171,44,30,5,11.400000,8.800000,1

In [77]:
df = final[["batting_team","bowling_team","city","runs_left","balls_left","wickets_left","current_run_rate","required_run_rate","target","result"]]

In [78]:
df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,current_run_rate,required_run_rate,target,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,119,10,6.000000,11.193277,223,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,118,10,6.000000,11.237288,223,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,117,10,4.000000,11.333333,223,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,116,10,4.500000,11.379310,223,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,115,10,4.800000,11.426087,223,0
...,...,...,...,...,...,...,...,...,...,...
210115,Chennai Super Kings,Gujarat Titans,Ahmedabad,56,34,5,11.093023,9.882353,215,1
210116,Chennai Super Kings,Gujarat Titans,Ahmedabad,55,33,5,11.034483,10.000000,215,1
210117,Chennai Super Kings,Gujarat Titans,Ahmedabad,54,32,5,10.977273,10.125000,215,1
210118,Chennai Super Kings,Gujarat Titans,Ahmedabad,48,31,5,11.258427,9.290323,215,1
210119,Chennai Super Kings,Gujarat Titans,Ahmedabad,44,30,5,11.400000,8.800000,215,1

In [79]:
from sklearn.model_selection import train_test_split

X = df.drop('result', axis=1)
y = df['result']
X.shape, y.shape

((101483, 9), (101483,))

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [81]:
X_train.shape

(81186, 9)

In [82]:
X_test.shape

(20297, 9)

In [91]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [105]:
from sklearn.compose import ColumnTransformer
trf = ColumnTransformer([
    ('trf',OneHotEncoder(drop='first'),['batting_team','bowling_team','city']),
#     ("trf2", StandardScaler(),["runs_left","balls_left","wickets_left","current_run_rate","required_run_rate","target"])
]
,remainder='passthrough')

In [106]:
from sklearn.pipeline import Pipeline
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [107]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [108]:
y_pred = pipe.predict(X_test)

In [109]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.78      0.79      9489
           1       0.81      0.83      0.82     10808

    accuracy                           0.81     20297
   macro avg       0.81      0.81      0.81     20297
weighted avg       0.81      0.81      0.81     20297

In [110]:
pipe.predict_proba(X_test)[3]

array([0.18275037, 0.81724963])

In [112]:
import pickle
pickle.dump(pipe,open("pipe.pkl","wb"))

In [113]:
df["city"].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Rajkot',
       'Kanpur', 'Bengaluru', 'Indore', 'Dubai', 'Sharjah', 'Navi Mumbai',
       'Lucknow', 'Guwahati'], dtype=object)